header {
	margin-top: 1em;
	color: white;
}



nav ul {
	margin: 0;
	padding: 0; 
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 1000;
	text-decoration: none;
	color: white;
}

body {
	font-family: : Arial, Helvetica, sans-serif;
	background-color: #303030;
	color: #ffffff;
}

h1 {
	padding-left: 500px;
	padding-top: 20px;

}

p {
	font-size: 24;
	border: 2px solid grey;
	padding: 20px;
}

ul {
	font-size: 17;

}
.image {
	padding: 50px;
}
.image img{
	border-radius: 12px;
	padding-left: 100px;
	padding-bottom: 40px;
}

/*.rainbow-text {
	background-image: linear-gradient(to left, pink, orange, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}*/
